mat-card.note-item{
    margin-top: 10px;
    width:100%;
    min-width: 320px;
    overflow-wrap:break-word; 
    
}
.tags{
    font-size: 12px;
    
}
mat-card-footer{
    width:20%;
    margin-left:auto;
    margin-right:5px;

}