
<h4 mat-dialog-title>Добавить напоминание:</h4><hr>

  <div mat-dialog-content>

      <mat-form-field >
        <span matPrefix>Дата:&nbsp;</span>
        <input ngModel name="date" #date="ngModel" matInput type="date" [(ngModel)]="data.newDate" required>
      </mat-form-field><hr>

      
      <mat-form-field>
        <span matPrefix>Время:&nbsp;</span>
        <input ngModel name="time" #time="ngModel" matInput type="time" [(ngModel)]="data.newTime" required>
      </mat-form-field><hr>

      <mat-form-field>
        <input ngModel name="text" #text="ngModel" matInput  [(ngModel)]="data.newText" placeholder="Текст напоминания" required>
      </mat-form-field>

      <mat-form-field>
        <input ngModel name="tags" #tags="ngModel" matInput  [(ngModel)]="data.tags" placeholder="Теги через запятую" required>
      </mat-form-field>
    
  </div>
  <div mat-dialog-actions>
    <button mat-button [disabled]="date.invalid||time.invalid||text.invalid||tags.invalid" [mat-dialog-close]="data" tabindex="2">Ok</button>
    <button mat-button mat-dialog-close (click)="onNoClick()" >Отмена</button>
  </div>
